body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*  */
footer {
    margin-top: auto;
}

.contenu-footer {
    position: none;
    top: auto;
    left: auto;
    width: 100%;
    
    background-color: rgba(0, 119, 255, 0.651);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.footer-service h3,
.footer-conctacte h3,
.footer-heure h3 {
    color: #000000;
    font-size: 15px;
}

.liste-services {
    list-style-type: none;
    padding: 0;
}

.liste-services a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.liste-services a:hover {
    color: #000;
}

.footer-heure p {
    margin: 0 0;
}