.header{
    position: fixe;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 1px;
    background: #09b0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.navbar{
    font-size: 18px;
    color: #000000;
    font-weight: 500px;
    margin-left: 20px;
    margin-right: 10px;
}


.form1 {
    display: flex;
    align-items: center;
}

.text[type="text"] {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    align-items: center;
}

.submit[type="submit"] {
    padding: 8px 16px;
    background-color: #09b0f1;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.body2 {
    background: #107ACA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;   
}

.formConnexion {
    width: 500px;
    border: solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 40px;

}

.input2{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button:hover{
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
